<!DOCTYPE html>
<html ng-app="CafeApp">

<head>
    <title ng-controller="TitleController as title" ng-bind-template="{{ title.pageTitle() }}">
	</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <!-- AngularJS -->
	<script src="../../scripts/angular-1.7.8.min.js"></script>
    <script src="../../scripts/angular-route-1.7.8.min.js"></script>

	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="../../scripts/firebase-app-6.3.5.js"></script>
	<script src="../../scripts/firebase-auth-6.3.5.js"></script>
	<script src="../../scripts/firebase-database-6.3.5.js"></script>
	
	<!-- AngularFIre -->
	<script src="../../scripts/angularfire-2.3.0.min.js"></script>

    <script src="../../scripts/cafe-app.js"></script>
<!--    <script src="view-order.js"></script>-->

    <link rel="stylesheet" type="text/css" href="../../styles/base.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/style-cafe.css" />
</head>

<body ng-controller="OrdersController as orders">
		
	<header ng-controller="OrdersHeaderController as header">
        <div class="header-pad wrapper">
			<div class="ic-back">
				<a href="../home/home.html">
					<img src="../../images/ic-back.svg" height="20px" width="20px" />
				</a>
			</div>
			<!-- div ic-back ends -->
				
   	        <div class="title">
   	            <strong ng-bind-template="{{ header.title }}">
   	            </strong>
   	        </div>
   	        <!-- div title ends -->
			
			<div class="menu">
				<div class="ic-menu" ng-if="header.user !== undefined || header.user !== null">
					<a href="" ng-click="header.logout();">
						<img ng-src="../../images/ic-login.svg" alt="{{ header.user.email }}" title="{{ header.user.email }}" />
					</a>
					<!-- a ends -->

				</div>
				<!-- div ic-menu ends -->

			</div>
			<!-- div menu ends -->

   	    </div>
   	    <!-- div header-pad, wrapper ends -->

   	</header>
   	<!-- header ends -->
		
	<div class="container">
		<div class="container-pad wrapper">
			<div class="view-orders">
				<div class="filter">
					<select ng-options="filter for filter in orders.filter" 
							ng-change="orders.applyFilter(orders.filterByType);"
							ng-model="orders.filterByType">
					</select>
					
					<select ng-options="customer as customer.name for customer in orders.customers" 
							ng-if="orders.filterByType === 'Customer'"
							ng-change="orders.applyFilter(orders.filterByType);"
							ng-model="orders.filterByCustomer">
					</select>
				</div>
				<!-- div filter ends -->

				<div class="order-list">
					<div class="order-item" ng-repeat="order in orders.ordersArray | orderBy : 'order.date' : true">
						<div class="item-img">
							<img ng-src="../../images/img-coffee.svg" />
						</div>
						<!-- div item-img ends -->

						<div class="item-details">
							<h4 ng-if="order.customerUId.length > 0">
								{{ orders.customerName(order.customerUId, order.customerKey); }}
							</h4>
							<span>{{ order.date | date: 'dd-MM-yyyy' }}</span>
							<span>{{ order.item + " x " + order.qty }}</span>
							<span ng-if="order.instructions.length > 0">
								<b>Note:&nbsp;</b>{{ order.instructions }}
							</span>
						</div>
						<!-- div item-details ends -->

						<div class="item-amount">
							<span>&#8377; {{ order.amount | number:2 }}</span>
							<input type="checkbox" id="status" name="status" 
								   ng-disabled="order.isDelivered"
								   ng-model="order.isDelivered" 
								   ng-change="orders.delivered(order);" />
						</div>
						<!-- div item-amount ends -->

					</div>
					<!-- div order-item ends -->
					
				</div>
				<!-- div order-list ends -->
				
			</div>
			<!-- div login-view ends -->

		</div>
		<!-- div container-pad, wrapper ends -->

	</div>
	<!-- div container ends -->

</body>
</html>