<!DOCTYPE html>
<html ng-app="CafeApp">

<head>
    <title ng-controller="TitleController as title" ng-bind-template="{{ title.pageTitle() }}">
	</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.7.8/angular-route.min.js"></script>

	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-database.js"></script>
	
	<!-- AngularFIre -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/2.3.0/angularfire.min.js"></script>

    <script src="../../scripts/cafe-app.js"></script>
<!--    <script src="view-order.js"></script>-->

    <link rel="stylesheet" type="text/css" href="../../styles/base.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/style-cafe.css" />
</head>

<body ng-controller="OrdersController as orders">
		
	<header ng-controller="OrdersHeaderController as header">
        <div class="header-pad wrapper">
			<div class="ic-back">
				<a href="../home/home.html">
					<img src="../../images/ic-back.svg" height="20px" width="20px" />
				</a>
			</div>
			<!-- div ic-back ends -->
				
   	        <div class="title">
   	            <strong ng-bind-template="{{ header.title }}">
   	            </strong>
   	        </div>
   	        <!-- div title ends -->

   	    </div>
   	    <!-- div header-pad, wrapper ends -->

   	</header>
   	<!-- header ends -->
		
	<div class="container">
		<div class="container-pad wrapper">
			<div class="view-orders">
				<div class="filter">
					<select ng-options="filter in orders.filter" 
							ng-model="orders.filter">
					</select>
				</div>
				<!-- div filter ends -->

				<div class="order-list">
					<div class="order-item" ng-repeat="order in orders.ordersArray | orderBy : 'order.date' : true">
						<div class="item-img">
							<img ng-src="../../images/img-coffee.svg" />
						</div>
						<!-- div item-img ends -->

						<div class="item-details">
							<h4>{{ orders.customerName(order.customerUId, order.customerKey); }}</h4>
<!--							<h4>{{ order.customerName }}</h4>-->
							<span>{{ order.date | date: 'dd-MM-yyyy' }}</span>
							<span>{{ order.item + " x " + order.qty }}</span>
						</div>
						<!-- div item-details ends -->

						<div class="item-amount">
							<span>&#8377; {{ order.amount | number:2 }}</span>
							<input type="checkbox" id="status" name="status" 
								   ng-model="order.isDelivered" 
								   ng-change="orders.delivered(order);" />
						</div>
						<!-- div item-amount ends -->

					</div>
					<!-- div order-item ends -->
					
				</div>
				<!-- div order-list ends -->
				
			</div>
			<!-- div login-view ends -->

		</div>
		<!-- div container-pad, wrapper ends -->

	</div>
	<!-- div container ends -->

</body>
</html>