<!DOCTYPE html>
<html ng-app="CafeApp">

<head>
    <title ng-controller="TitleController as title">{{ title.pageTitle() }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="../scripts/angular.min.js"></script>
    <script src="../scripts/cafe-app.js"></script>

    <link rel="stylesheet" type="text/css" href="../styles/base.css" />
    <link rel="stylesheet" type="text/css" href="../styles/style.css" />
</head>

<body>
	
	<!-- <form method="post"> -->

		<header ng-controller="HomeScreenHeaderController as header">
			<div class="header-pad wrapper">
				<div class="title">
					<strong>
						{{ header.title }}
					</strong>
				</div>
				<!-- div title ends -->

				<div class="menu">
					<div class="ic-menu"><!-- ng-if="mobileNumber.length !== 10"> -->
						<a href="login.html" ng-click="header.login();">
							<img ng-src="../images/login.svg" alt="{{ header.user }}" title="{{ header.user }}" />
						</a>
						<!-- a ends -->

					</div>
					<!-- div menu-item ends -->

				</div>
				<!-- div menu-list ends -->

			</div>
			<!-- div header-pad, wrapper ends -->

		</header>
		<!-- header ends -->

		<div class="container">
			<div class="container-pad wrapper">

				<div class="home" ng-controller="HomeScreenController"></div>
				<!-- div home ends -->
				
			</div>
			<!-- div container-pad, wrapper ends -->

		</div>
		<!-- div container ends -->
		
		<footer ng-controller="FooterController as footer" ng-if="footer.isVisible">
			<div class="footer-pad wrapper">
				
			</div>
			<!-- div footer-pad, wrapper ends -->
			
		</footer>
		<!-- footer ends -->
		
	<!-- </form> -->

</body>

</html>
