<!DOCTYPE html>
<html ng-app="CafeApp">

<head>
    <title ng-controller="TitleController as title">{{ title.pageTitle() }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="../scripts/angular.min.js"></script>
    <script src="../scripts/cafe-app.js"></script>

    <link rel="stylesheet" type="text/css" href="../styles/base.css" />
    <link rel="stylesheet" type="text/css" href="../styles/style.css" />
</head>

<body>

    <header ng-controller="LoginScreenHeaderController as header">
        <div class="header-pad wrapper">
            <div class="title">
                <strong>
                    {{ header.title }}
                </strong>
            </div>
            <!-- div title ends -->

            <div class="menu-list">
                <div class="menu-item">
                </div>
                <!-- div menu-item ends -->

            </div>
            <!-- div menu-list ends -->

        </div>
        <!-- div header-pad, wrapper ends -->

    </header>
    <!-- header ends -->

	<form method="post">
		
		<div class="container">
			<div class="container-pad wrapper">
				<div class="login-view" ng-controller="LoginScreenController as login">
					
					<div class="form-field">
						<label>Mobile</label>
						<input type="text" ng-model="mobileNumber" maxlength="10" min="10" />
					</div>
					<!-- div form-field -->
					
					<div class="form-field">
						<button ng-click="login.login()">Login</button>
					</div>
					<!-- div form-field -->
					
				</div>
				<!-- div login-view ends -->
			</div>
			<!-- div container-pad, wrapper ends -->

		</div>
		<!-- div container ends -->
	
	</form>
	<!-- form ends -->
	
	<footer ng-controller="FooterController as footer" ng-if="footer.isVisible">
		<div class="footer-pad wrapper">
		</div>
		<!-- div footer-pad, wrapper ends -->

	</footer>
	<!-- footer ends -->

</body>

</html>
