<!DOCTYPE html>
<html ng-app="CafeApp">

<head>
    <title ng-controller="TitleController as title" ng-bind-template="{{ title.pageTitle() }}">
	</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="../scripts/angular.min.js"></script>
    <script src="../scripts/cafe-app.js"></script>

    <link rel="stylesheet" type="text/css" href="../styles/base.css" />
    <link rel="stylesheet" type="text/css" href="../styles/style.css" />
</head>

<body>

	<form method="post">

    	<header ng-controller="LoginScreenHeaderController as header">
    	    <div class="header-pad wrapper">
    	        <div class="title">
    	            <strong ng-bind-template="{{ header.title }}">
    	            </strong>
    	        </div>
    	        <!-- div title ends -->

    	        <div class="menu">
    	            <div class="ic-menu">
    	            </div>
    	            <!-- div menu-item ends -->

    	        </div>
    	        <!-- div menu-list ends -->

    	    </div>
    	    <!-- div header-pad, wrapper ends -->

    	</header>
    	<!-- header ends -->
		
		<div class="container">
			<div class="container-pad wrapper">
				<div class="login-view" ng-controller="LoginScreenController as login">
					
					<div class="form-field">
						<input type="tel" id="mobile-number" ng-model="mobileNumber" maxlength="10" min="10" placeholder="Mobile Number" />
					</div>
					<!-- div form-field -->
					
				</div>
				<!-- div login-view ends -->

			</div>
			<!-- div container-pad, wrapper ends -->

		</div>
		<!-- div container ends -->
	
		<footer ng-controller="FooterController as footer" ng-if="!isVisible">
			<div class="footer-pad wrapper">
				<div class="form-field">
					<button ng-click="login.login()">Login</button>
				</div>
				<!-- div form-field ends -->
				
				<div class="form-field">
					<button ng-click="login.signup()">Sign Up</button>
				</div>
				<!-- div form-field ends -->
				
			</div>
			<!-- div footer-pad, wrapper ends -->

		</footer>
		<!-- footer ends -->

	</form>
	<!-- form ends -->
	
</body>

</html>
