<!DOCTYPE html>
<html ng-app="CafeApp">

<head>
    <title ng-controller="TitleController as title" ng-bind-template="{{ title.pageTitle() }}">
	</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="../scripts/angular.min.js"></script>
    <script src="../scripts/cafe-app.js"></script>

    <link rel="stylesheet" type="text/css" href="../styles/base.css" />
    <link rel="stylesheet" type="text/css" href="../styles/style.css" />
</head>

<body>

	<form method="post">

    	<header ng-controller="SignUpScreenHeaderController as header">
    	    <div class="header-pad wrapper">
				<div class="ic-back">
					<a href="login.html">
						<img src="../images/icon-back.svg" height="20px" width="20px" />
					</a>
				</div>
				<!-- div ic-back ends -->
						
    	        <div class="title">
    	            <strong ng-bind-template="{{ header.title }}">
    	            </strong>
    	        </div>
    	        <!-- div title ends -->

    	        <div class="menu">
    	            <div class="ic-menu">
    	            </div>
    	            <!-- div menu-item ends -->

    	        </div>
    	        <!-- div menu-list ends -->

    	    </div>
    	    <!-- div header-pad, wrapper ends -->

    	</header>
    	<!-- header ends -->
		
		<div class="container">
			<div class="container-pad wrapper">
				<div class="sign-up-view" ng-controller="SignUpScreenController as signup">
					<div class="form-field">
						<input type="text" name="name" placeholder="Full Name" />
					</div>
					<!-- div form-field -->

					<div class="form-field">
						<input type="email" name="email" placeholder="Email Address" />
					</div>
					<!-- div form-field -->
					
					<div class="form-field">
						<input type="tel" name="mobile" placeholder="Mobile Number" />
					</div>
					<!-- div form-field -->
					
					<div class="form-field">
						<input type="password" placeholder="Password" />
					</div>
					<!-- div form-field -->
					
					<div class="form-field">
						<input type="password" placeholder="Confirm Password" />
					</div>
					<!-- div form-field -->
					
				</div>
				<!-- div login-view ends -->

			</div>
			<!-- div container-pad, wrapper ends -->

		</div>
		<!-- div container ends -->
	
		<footer ng-controller="FooterController as footer" ng-if="!isVisible">
			<div class="footer-pad wrapper">
				<div class="form-field">
					<button class="btn-sign-up" ng-click="signup.signup()">Sign Up</button>
				</div>
				<!-- div form-field ends -->
				
			</div>
			<!-- div footer-pad, wrapper ends -->

		</footer>
		<!-- footer ends -->

	</form>
	<!-- form ends -->
	
</body>

</html>
