<!DOCTYPE html>
<html ng-app="CafeApp">
	
<head>
	<title ng-controller="TitleController as title" ng-bind-template="{{ title.pageTitle() }}"></title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
<!--    <script src="../../scripts/angular.min.js"></script>-->
	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.7.8/angular-route.min.js"></script>

	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-database.js"></script>

	<!-- AngularFire -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/2.3.0/angularfire.min.js"></script>
	
    <script src="../../scripts/cafe-app.js"></script>
<!--    <script src="./signup.js"></script>-->
<!--    <script src="../home/home.js"></script>-->

    <link rel="stylesheet" type="text/css" href="../../styles/base.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/style-cafe.css" />
</head>
	
	<body>
		<header ng-controller="HomeScreenHeaderController as header">
			<div class="header-pad wrapper">
				<div class="title">
					<strong ng-bind-template="{{ header.title }}">
					</strong>
				</div>
				<!-- div title ends -->

				<div class="menu">
					<div class="ic-menu" ng-if="header.user === undefined || header.user === null">
						<a href="" ng-click="header.login();">
							<img ng-src="../../images/ic-login.svg" alt="{{ login }}" title="{{ login }}" />
						</a>
						<!-- a ends -->

					</div>
					<!-- div ic-menu ends -->
					
					<div class="ic-menu" ng-if="header.user === undefined || header.user === null">
						<a href="" ng-click="header.signUp();">
							<img ng-src="../../images/ic-sign-up.svg" alt="{{ signUp }}" title="{{ signUp }}" />
						</a>
						<!-- a ends -->

					</div>
					<!-- div ic-menu ends -->

					<div class="ic-menu" ng-if="header.user !== undefined || header.user !== null">
						<a href="" ng-click="header.logout();">
							<img ng-src="../../images/ic-login.svg" alt="{{ header.user.email }}" title="{{ header.user.email }}" />
						</a>
						<!-- a ends -->

					</div>
					<!-- div ic-menu ends -->

				</div>
				<!-- div menu ends -->

			</div>
			<!-- div header-pad, wrapper ends -->

		</header>
		<!-- header ends -->

		<div class="container" ng-controller="HomeScreenController as homeScreen">
			<div class="container-pad wrapper">
				<div class="db-view">
					<div class="db-list">
						
						<!-- Add Items -->
						<div class="db-item" ng-click="homeScreen.eAddItem();">
							<div class="item-img">
								<img ng-src="images/add-items.svg" alt="{{ homeScreen.addItems }}" title="{{ homeScreen.addItems }}" />
							</div>
							<!-- div item-img ends -->
							
							<div class="item-title">
								<span>{{ homeScreen.addItems }}</span>
							</div>
							<!-- div item-title ends -->
							
							<div class="item-action">
								<a href="" ng-click="homeScreen.eAddItem();">
									<img ng-src="../../images/ic-action.svg" alt="{{ homeScreen.addItems }}" title="{{ homeScreen.addItems }}" />
								</a>
								<!-- Add Item -->
								
							</div>
							<!-- div item-action ends -->
							
						</div>
						<!-- div db-item ends -->
						
						<!-- View Menu -->
						<div class="db-item" ng-click="homeScreen.eViewItems();">
							<div class="item-img">
								<img ng-src="images/view-menu.svg" alt="{{ homeScreen.menu }}" title="{{ homeScreen.menu }}" />
							</div>
							<!-- div item-img ends -->
							
							<div class="item-title">
								<span>{{ homeScreen.menu }}</span>
							</div>
							<!-- div item-title ends -->
							
							<div class="item-action">
								<a href="" ng-click="homeScreen.eViewItems();">
									<img ng-src="../../images/ic-action.svg" alt="{{ homeScreen.menu }}" title="{{ homeScreen.menu }}" />
								</a>
								<!-- Add Item -->
								
							</div>
							<!-- div item-action ends -->
							
						</div>
						<!-- div db-item ends -->
						
						<!-- Place Order -->
						<div class="db-item" ng-click="homeScreen.ePlaceOrder();">
							<div class="item-img">
								<img ng-src="images/place-order.svg" alt="{{ homeScreen.placeOrder }}" title="{{ homeScreen.placeOrder }}" />
							</div>
							<!-- div item-img ends -->
							
							<div class="item-title">
								<span>{{ homeScreen.placeOrder }}</span>
							</div>
							<!-- div item-title ends -->
							
							<div class="item-action">
								<a href="" ng-click="homeScreen.ePlaceOrder();">
									<img ng-src="../../images/ic-action.svg" alt="{{ homeScreen.placeOrder }}" title="{{ homeScreen.placeOrder }}" />
								</a>
								<!-- Add Item -->
								
							</div>
							<!-- div item-action ends -->
							
						</div>
						<!-- div db-item ends -->
						
						<!-- Active Orders -->
						<div class="db-item" ng-click="homeScreen.eOrders();">
							<div class="item-img">
								<img ng-src="images/active-orders.svg" alt="{{ homeScreen.orders }}" title="{{ homeScreen.orders }}" />
							</div>
							<!-- div item-img ends -->
							
							<div class="item-title">
								<span>{{ homeScreen.orders }}</span>
							</div>
							<!-- div item-title ends -->
							
							<div class="item-action">
								<a href="" ng-click="homeScreen.eOrders();">
									<img ng-src="../../images/ic-action.svg" alt="{{ homeScreen.orders }}" title="{{ homeScreen.orders }}" />
								</a>
								<!-- Add Item -->
								
							</div>
							<!-- div item-action ends -->
							
						</div>
						<!-- div db-item ends -->
						
					</div>
					<!-- div db-list ends -->
					
				</div>
				<!-- div home-view ends -->
				
			</div>
			<!-- div container-pad, wrapper ends -->

		</div>
		<!-- div container ends -->
		
		<footer ng-controller="FooterController as footer" ng-if="footer.isFooterVisible">
			<div class="footer-pad wrapper">
				
			</div>
			<!-- div footer-pad, wrapper ends -->
			
		</footer>
		<!-- footer ends -->

	</body>
</html>
