<!DOCTYPE html>
<html ng-app="CafeApp">

<head>
    <title ng-controller="TitleController as title" ng-bind-template="{{ title.pageTitle() }}">
	</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <!-- AngularJS -->
	<script src="../../scripts/angular-1.7.8.min.js"></script>
    <script src="../../scripts/angular-route-1.7.8.min.js"></script>

	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="../../scripts/firebase-app-6.3.5.js"></script>
	<script src="../../scripts/firebase-auth-6.3.5.js"></script>
	<script src="../../scripts/firebase-database-6.3.5.js"></script>
	
	<!-- AngularFIre -->
	<script src="../../scripts/angularfire-2.3.0.min.js"></script>

    <script src="../../scripts/cafe-app.js"></script>
<!--    <script src="place-order.js"></script>-->

    <link rel="stylesheet" type="text/css" href="../../styles/base.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/style-cafe.css" />
</head>

<body class="with-footer" ng-controller="PlaceOrderController as placeOrder">
	
	<form method="post" ng-submit="placeOrder.ePlaceOrder();">
		
		<header ng-controller="PlaceOrderHeaderController as header">
    	    <div class="header-pad wrapper">
				<div class="ic-back">
					<a href="../home/home.html">
						<img src="../../images/ic-back.svg" height="20px" width="20px" />
					</a>
				</div>
				<!-- div ic-back ends -->
				
    	        <div class="title">
    	            <strong ng-bind-template="{{ header.title }}">
    	            </strong>
    	        </div>
    	        <!-- div title ends -->

				<div class="menu">
					<div class="ic-menu" ng-if="header.user !== undefined || header.user !== null">
						<a href="" ng-click="header.logout();">
							<img ng-src="../../images/ic-login.svg" alt="{{ header.user.email }}" title="{{ header.user.email }}" />
						</a>
						<!-- a ends -->

					</div>
					<!-- div menu-item ends -->

				</div>
				<!-- div menu ends -->

    	    </div>
    	    <!-- div header-pad, wrapper ends -->

    	</header>
    	<!-- header ends -->
		
		<div class="container">
			<div class="container-pad wrapper">
				<div class="place-order-view">
					<div class="form-field">
						<label>Customer Name</label>
						<select ng-options="customer as customer.name for customer in placeOrder.customers" 
								ng-model="placeOrder.customerName">
						</select>
					</div>
					<!-- div form-field -->
					
					<div class="form-field">
						<label>Item</label>
						<select ng-options="item as item.itemName for item in placeOrder.menuItems" 
								ng-change="placeOrder.updateAmount(placeOrder.itemName);" 
								ng-model="placeOrder.itemName">
						</select>
					</div>
					<!-- div form-field -->

					<div class="form-field">
						<label>Quantity</label>
						<div class="quantity-counter">
							<input type="number" id="quantity" ng-model="placeOrder.quantity" name="quantity" ng-disabled="true" ng-required="true" />

							<button type="button" 
									ng-disabled="placeOrder.btnDisabled" 
									ng-click="placeOrder.increase();">+</button>
							<button type="button" 
									ng-disabled="placeOrder.btnDisabled" 
									ng-click="placeOrder.decrease();">-</button>
							<!-- quantity counter buttons end -->

						</div>
						<!-- div quantity-counter ends -->
						
						<span class="error" 
							  ng-if="placeOrder.errorMsg.length > 0">
							{{ placeOrder.errorMsg }}
						</span>
						<span class="error">{{ placeOrder.required }}</span>

					</div>
					<!-- div form-field -->
					
					<div class="form-field">
						<label>Optional Instructions</label>
						<input type="text" id="instructions" ng-model="placeOrder.instructions" name="instructions" />
					</div>
					<!-- div form-field -->
					
					<div class="form-field">
						<label>Amount</label>
						<input type="number" id="amount" ng-model="placeOrder.amount" name="amount" ng-disabled="true" ng-required="true" />
					</div>
					<!-- div form-field -->

				</div>
				<!-- div login-view ends -->

			</div>
			<!-- div container-pad, wrapper ends -->

		</div>
		<!-- div container ends -->

		<footer ng-controller="FooterController as footer" ng-if="placeOrder.isFooterVisible">
			<div class="footer-pad wrapper">
				<div class="form-field">
					<button ng-disabled="placeOrder.btnDisabled">
						Place Order
					</button>
				</div>
				<!-- div form-field ends -->
				
			</div>
			<!-- div footer-pad, wrapper ends -->

		</footer>
		<!-- footer ends -->
		
	</form>
	<!-- form ends -->
	
</body>
</html>