/** Login View CSS **/
.container .login-view {
	align-self: center;
	display: flex;
	flex: 1;
	flex-flow: column;
	margin: 0px auto;
}

/*
.form-field .btn-login {
	display: flex;
	padding: 8px 65px;
}

.form-field .btn-register {
	display: flex;
	padding: 8px 25px;
}
*/

/** Sign Up View CSS **/
.container .sign-up-view {
	display: flex;
	flex: 1;
	flex-flow: column;
	margin: 0px auto;
}

/** Home Screen / Dashboard View CSS **/
.container .db-view {
	display: flex;
	flex: 1;
	margin: 0px auto;
	padding: 4px;
}

.container .db-view .db-list {
	display: flex;
	flex: 1;
	flex-flow: column wrap;
}

.container .db-list .db-item {
	align-items: center;
	border: 1px solid #999;
	border-radius: 6px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 12px;
	padding: 6px;
}

.container .db-list .db-item:last-child {
	margin-bottom: 0px;
}

.container .db-item .item-img {
	display: flex;
	margin-right: 12px;
}

.container .db-item .item-img img {
	height: 40px;
	width: 40px;
}

.container .db-item .item-title {
	color: #999;
	display: flex;
	flex: 1;
}

.container .db-item .item-action {
	display: flex;
	padding: 4px;
}

.container .db-item .item-action a {
	display: flex;
}

.container .db-item .item-action a img {
	display: flex;
	height: 15px;
	width: 15px;
}

/** Place Order View CSS **/
.container .place-order-view {
	display: flex;
	flex: 1;
	margin: 0px auto;
	padding: 4px;
}

footer .form-field span {
	display: flex;
/*	padding: 6px;*/
}