<!DOCTYPE html>
<html ng-app="CustomerApp">

<head>
    <title ng-controller="TitleController as title" ng-bind-template="{{ title.pageTitle() }}">
	</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.7.8/angular-route.min.js"></script>

	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-auth.js"></script>
	
	<!-- AngularFIre -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/2.3.0/angularfire.min.js"></script>

    <script src="../../scripts/customer-app.js"></script>
<!--    <script src="login.js"></script>-->

    <link rel="stylesheet" type="text/css" href="../../styles/base.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/style-customer.css" />
</head>

<body class="with-footer" ng-controller="LoginScreenController as loginScreen">

	<form method="post">

    	<header ng-controller="LoginScreenHeaderController as header">
    	    <div class="header-pad wrapper">
    	        <div class="title">
    	            <strong ng-bind-template="{{ header.title }}">
    	            </strong>
    	        </div>
    	        <!-- div title ends -->

				<div class="menu">
					<div class="ic-menu"><!-- ng-if="mobileNumber.length !== 10"> -->
						<a href="../signup/signup.html" ng-click="header.signup();">
							<img ng-src="../../images/ic-sign-up.svg" alt="{{ header.signUp }}" title="{{ header.signUp }}" />
						</a>
						<!-- a ends -->

					</div>
					<!-- div menu-item ends -->

				</div>
				<!-- div menu-list ends -->

    	    </div>
    	    <!-- div header-pad, wrapper ends -->

    	</header>
    	<!-- header ends -->
		
		<div class="container">
			<div class="container-pad wrapper">
				<div class="login-view">
					<div class="form-field">
						<input type="email" id="email" ng-model="loginScreen.email" placeholder="Email" ng-required ng-auto-focus="" />
						<span class="error" ng-if="loginScreen.email === ''">Required</span>
						<span class="error" ng-if="loginScreen.email.$dirty && loginScreen.email.$error.pattern">
							Please Enter Valid Email
						</span>
						
					</div>
					<!-- div form-field ends -->
					
					<div class="form-field">

						<input type="password" id="password" ng-model="loginScreen.password" placeholder="Password" ng-required />
						<span class="error" ng-if="loginScreen.password === ''">Required</span>
						
					</div>
					<!-- div form-field ends -->
					
				</div>
				<!-- div login-view ends -->

			</div>
			<!-- div container-pad, wrapper ends -->

		</div>
		<!-- div container ends -->
	
		<footer ng-controller="FooterController as footer" ng-if="!footer.isFooterVisible">
			<div class="footer-pad wrapper">
				<div class="form-field">
					<button id="login-button" ng-click="loginScreen.login();">Login</button>
				</div>
				<!-- div form-field ends -->

			</div>
			<!-- div footer-pad, wrapper ends -->

		</footer>
		<!-- footer ends -->

	</form>
	<!-- form ends -->

</body>

</html>
